{% extends 'base.html.twig' %}

{% block title %}
	O-Sologne | Connexion
{% endblock %}

{% block body %}
	<div class="login row w-100 justify-content-center align-items-center">
		<div class="col-12">
			<div class="row justify-content-center align-items-center">
				<div class="login-img col-4">
					<img src="logo.jpg" alt="">
				</div>
			</div>
		</div>
		<div class="login-container col-4">
			<form method="post" class="login-form">
				{% if error %}
					<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
				{% endif %}

				{% if app.user %}
					<div class="mb-3">
						Vous êtes connecté(e) en tant que
						{{ app.user.username }},
						<a href="{{ path('app_logout') }}">Se déconnecter</a>
					</div>
				{% endif %}

				<h1 class="h3 mb-3 font-weight-normal">Connexion</h1>
				<label for="inputLogin">Login</label>
				<input type="text" value="{{ last_username }}" name="login" id="inputLogin" class="form-control" required autofocus>
				<label for="inputPassword">Mot de passe</label>
				<input type="password" name="password" id="inputPassword" class="form-control" required>

				<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
				<div class="text-center my-3">
					<button class="btn btn-primary" type="submit">
						Se connecter
					</button>
				</div>
			</form>
		</div>
	</div>
{% endblock %}
