{% extends 'base.html.twig' %}

{% block title %}Liste des secteurs d'activité
{% endblock %}

{% block body %}
	<h1>Liste des secteurs d'activité</h1>
	<a href="{{ path('activity_area_new') }}" class="btn btn-primary">Ajouter une commande</a>

	<div class="row">
		<div class="col-12">
			<ul class="list-group">
				{% for area in activity_areas %}
					<li class="list-group-item prospects-item">
						<div class="row prospects-item-row">
							<div class="col-4">
								<strong>{{ area.label }}</strong>
							</div>
							<div class="col-4">
								<ul class="list-unstyled d-flex flex-row">
									<li class="prospects-item-link">
										<a href="{{ path('activity_area_show', {id:area.id}) }}">
											<i class="far fa-eye"></i>
											Voir</a>
									</li>
									<li class="prospects-item-link">
										<a href="{{ path('activity_area_edit', {id:area.id}) }}">
											<i class="far fa-edit"></i>
											Editer</a>
									</li>
									<li class="prospects-item-link">
										<a href="{{ path('activity_area_delete', {id:area.id}) }}">
											<i class="far fa-trash-alt"></i>
											Supprimer</a>
									</li>
								</ul>
							</div>
						</div>
					</li>
				{% else %}
					<p>
						Aucun secteur d'activité n'a été trouvé.
					</p>
				{% endfor %}
			</ul>
			{{ knp_pagination_render(activity_areas) }}
		</div>
	</div>
{% endblock %}
