{% extends 'base.html.twig' %}

{% block title %}Liste des secteurs d'activité
{% endblock %}

{% block body %}
	<h1>Liste des secteurs d'activité</h1>
	<a href="{{ path('activity_area_new') }}" class="btn btn-primary">Ajouter une secteur d'activité</a>

	<table class="table table-bordered table-hover">
		<thead>
			<tr>
				<th scope="col">Nom</th>
				<th scope="col">Actions</th>
			</tr>
		</thead>
		<tbody>
			{% for area in activity_areas %}
				<tr>
					<td class="align-middle">{{ area.label }}</td>
					<td class="align-middle">
						<a href="{{ path('activity_area_show', {'id': area.id}) }}">
							<i class="far fa-eye"></i>
							Voir</a><br>
						<a href="{{ path('activity_area_edit', {'id': area.id}) }}">
							<i class="far fa-edit"></i>
							Editer</a>
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
	{% if activity_areas is not null %}
		{{ knp_pagination_render(activity_areas) }}
	{% endif %}
{% endblock %}
