{% extends 'base.html.twig' %}

{% block title %}Command index{% endblock %}

{% block body %}
    <h1>Command index</h1>
    <a href="{{ path('command_new') }}">Create new</a>

    <div class="row">
		<div class="col-12">
			<ul class="list-group">
				{% for command in commands %}
					<li class="list-group-item prospects-item">
						<div class="row prospects-item-row">
							<div class="col-7">
								<strong>{{ prospect.name }}</strong>
								<br>
								<small>{{ prospect.siret }}</small>
							</div>
							<div class="col-5">
								<ul class="list-unstyled d-flex flex-row">
									<li class="prospects-item-link">
										<a href="{{ path('prospect_show', {id:prospect.id}) }}">
											<i class="far fa-eye"></i>
											Voir</a>
									</li>
									<li class="prospects-item-link">
										<a href="{{ path('prospect_edit', {id:prospect.id}) }}">
											<i class="far fa-edit"></i>
											Editer</a>
									</li>
									<li class="prospects-item-link">
										<a href="{{ path('prospect_delete', {id:prospect.id}) }}">
											<i class="far fa-trash-alt"></i>
											Supprimer</a>
									</li>
								</li>
							</ul</div>
						</div>
					</li>
				{% endfor %}
			</ul>
		</div>
	</div>
{% endblock %}
