{% extends 'base.html.twig' %}

{% block title %}Liste des supports
{% endblock %}

{% block body %}
	<h1>Liste des supports</h1>

	<a href="{{ path('support_new') }}" class="btn btn-primary my-2">Ajouter</a>

	<div class="row">
		<div class="col-12">
			<ul class="list-group">
				{% for support in supports %}
					<li class="list-group-item prospects-item">
						<div class="row prospects-item-row">
							<div class="col-4">
								<strong>{{ support.supportType.label }}</strong>
							</div>
							<div class="col-4">
								<p>{{ support.label }}</p>
								<small>{{ support.dateedited|date('d/m/Y') }}</small>
							</div>
							<div class="col-4">
								<ul class="list-unstyled d-flex flex-row">
									<li class="prospects-item-link">
										<a href="{{ path('support_show', {id:support.id}) }}">
											<i class="far fa-eye"></i>
											Voir</a>
									</li>
									<li class="prospects-item-link">
										<a href="{{ path('support_edit', {id:support.id}) }}">
											<i class="far fa-edit"></i>
											Editer</a>
									</li>
									<li class="prospects-item-link">
										<a href="{{ path('support_delete', {id:support.id}) }}">
											<i class="far fa-trash-alt"></i>
											Supprimer</a>
									</li>
								</ul>
							</div>
						</div>
					</li>
				{% else %}
					<p>
						Aucun support n'a été trouvé.
					</p>
				{% endfor %}
			</ul>
			{{ knp_pagination_render(supports) }}
		</div>
	</div>
{% endblock %}
