{% extends 'base.html.twig' %}

{% block title %}Liste des types de support
{% endblock %}

{% block body %}
	<h1>Liste des types de support</h1>
	<a href="{{ path('support_type_new') }}" class="btn btn-primary my-2">Ajouter</a>

	<div class="row">
		<div class="col-12">
			<ul class="list-group">
				{% for type in support_types %}
					<li class="list-group-item prospects-item">
						<div class="row prospects-item-row">
							<div class="col-7">
								<strong>{{ type.label }}</strong>
							</div>
							<div class="col-5">
								<ul class="list-unstyled d-flex flex-row">
									<li class="prospects-item-link">
										<a href="{{ path('support_type_show', {id:type.id}) }}">
											<i class="far fa-eye"></i>
											Voir</a>
									</li>
									<li class="prospects-item-link">
										<a href="{{ path('support_type_edit', {id:type.id}) }}">
											<i class="far fa-edit"></i>
											Editer</a>
									</li>
								</ul>
							</div>
						</div>
					</li>
				{% else %}
					<p>
						Aucun type de support n'a été trouvé.
					</p>
				{% endfor %}
			</ul>
			{% if support_types is not null %}
			{{ knp_pagination_render(support_types) }}
			{% endif %}
		</div>
	</div>
{% endblock %}
