{% extends 'base.html.twig' %}

{% block title %}Liste des prospects
{% endblock %}

{% block body %}
	<h1>Liste des prospects</h1>
	<a href="{{ path('prospect_new') }}" class="btn btn-primary my-2">Ajouter</a>

	<div class="row">
		<div class="col-12">
			{{ form_start(form) }}
			<div class="search-form row my-4">
				<div class="col-3 position-relative">
					{{ form_row(form.postal_code) }}
				</div>
				<div class="col-3 position-relative">
					{{ form_row(form.activity_area) }}
				</div>
				<div class="col-2 position-relative">
					{{ form_row(form.status) }}
				</div>
				<div class="col-2 position-relative">
					{{ form_row(form.support) }}
				</div>
				<div class="col-2 position-relative">
					{{ form_row(form.date_created) }}
				</div>
				<div class="col-12 d-flex justify-content-center mt-4 ">
					<div class="position-relative mx-1">
						{{ form_label(form.display) }}
						{{ form_widget(form.display) }}
					</div>
					<button class="btn btn-primary d-inline-block mx-1">
						<i class="fas fa-search"></i>
						{{ button_label|default('Rechercher') }}</button>
					<button id="reset-form" class="btn btn-primary d-inline-block mx-1">
						<i class="fas fa-undo"></i>
						Réinitialiser les filtres</button>
				</div>
			</div>
			{{ form_end(form) }}
			<div class="col-12 text-center"></div>
			<ul class="list-group">
				{% for prospect in prospects %}
					<li class="list-group-item prospects-item">
						<div class="row prospects-item-row">
							<div class="col-4">
								<strong>{{ prospect.name }}</strong>
								<br>
								<small>Siret :
									{{ prospect.siret }}</small>
							</div>
							<div class="col-4">
								<p>
									{% if prospect.activityArea is not null %}
										Secteur :
										{{ prospect.activityArea.label }}<br>
									{% endif %}
									Adresse :
									{{ prospect.address }}
								</p>
							</div>
							<div class="col-4">
								<ul class="list-unstyled d-flex flex-row">
									<li class="prospects-item-link">
										<a href="{{ path('prospect_show', {id:prospect.id}) }}">
											<i class="far fa-eye"></i>
											Voir</a>
									</li>
									<li class="prospects-item-link">
										<a href="{{ path('prospect_edit', {id:prospect.id}) }}">
											<i class="far fa-edit"></i>
											Editer</a>
									</li>
								</ul>
							</div>
						</div>
					</li>
				{% else %}
					<p>
						Aucun prospect n'a été trouvé.
					</p>
				{% endfor %}
			</ul>
			{% if prospects is not null %}
				{{ knp_pagination_render(prospects) }}
			{% endif %}
		</div>
	</div>
{% endblock %}

{% block javascripts %}
	{{ parent() }}

	<script>
		function prospectsIndex() {
			var activitySelect = document.getElementById('search_activity_area');
			var postalCode = document.getElementById('search_postal_code');
			var statusSelect = document.getElementById('search_status');
			var supportSelect = document.getElementById('search_support');
			var dateCreatedPicker = document.getElementById('search_date_created');
			var resetFiltersButton = document.getElementById('reset-form');

			/**
            @desc Custom default option for activities select
            */
			function allActivitiesSelectLabel() {
				if (! activitySelect) {
					return;
				}

				var defaultOption = activitySelect.querySelector('option[value=""]');

				if (! defaultOption) {
					return;
				}

				defaultOption.innerText = 'Tous les secteurs d\'activité';
			}

			/**
            @desc Custom default option for activities select
            */
			function allStatusesSelectLabel() {
				if (! statusSelect) {
					return;
				}

				var defaultOption = statusSelect.querySelector('option[value=""]');

				if (! defaultOption) {
					return;
				}

				defaultOption.innerText = 'Tous les statuts';
			}

			/**
            @desc Custom default option for activities select
            */
			function allSupportsSelectLabel() {
				if (! supportSelect) {
					return;
				}

				var defaultOption = supportSelect.querySelector('option[value=""]');

				if (! defaultOption) {
					return;
				}

				defaultOption.innerText = 'Tous les supports';
			}

			/**
            @desc Reset all filters
            */
			function resetFilters(e) {
				e.preventDefault();
				activitySelect.value = '';
				postalCode.value = '';
				statusSelect.value = '';
				supportSelect.value = '';
				dateCreatedPicker.value = '';
			}

			allActivitiesSelectLabel();
			allStatusesSelectLabel();
			allSupportsSelectLabel();

			if (! resetFiltersButton) {
				return;
			}
			resetFiltersButton.addEventListener('click', resetFilters);
		}

		prospectsIndex();
	</script>
{% endblock %}
