{% extends 'base.html.twig' %}

{% block title %}Liste des prospects
{% endblock %}

{% block body %}
	<h1>Liste des prospects</h1>
	<a href="{{ path('prospect_new') }}" class="btn btn-primary my-2">Ajouter</a>

	<div class="row">
		<div class="col-12">
			{{ form_start(form) }}
			<div class="search-form row my-4">
				<div class="col-3 position-relative">
					{{ form_row(form.postal_code) }}
				</div>
				<div class="col-3 position-relative">
					{{ form_row(form.activity_area) }}
				</div>
				<div class="col-2 position-relative">
					{{ form_row(form.status) }}
				</div>
				<div class="col-2 position-relative">
					{{ form_row(form.support) }}
				</div>
				<div class="col-2 position-relative">
					{{ form_row(form.date_created) }}
				</div>
				<div class="col-12 d-flex justify-content-center mt-4 ">
					<div class="position-relative mx-1">
						{{ form_label(form.display) }}
						{{ form_widget(form.display) }}
					</div>
					<button class="btn btn-primary d-inline-block mx-1">
						<i class="fas fa-search"></i>
						{{ button_label|default('Rechercher') }}</button>
					<button id="reset-form" class="btn btn-primary d-inline-block mx-1">
						<i class="fas fa-undo"></i>
						Réinitialiser les filtres</button>
				</div>
			</div>
			{{ form_end(form) }}
			<table class="table table-bordered table-hover">
				<thead>
					<tr>
						<th scope="col">Nom</th>
						<th scope="col">Téléphone</th>
						<th scope="col">Responsable</th>
						<th scope="col">Etat</th>
						<th scope="col">Date de création</th>
						<th scope="col">Actions</th>
					</tr>
				</thead>
				<tbody>
					{% for prospect in prospects %}
						<tr>
							<td class="align-middle">{{ prospect.name }}</td>
							<td class="align-middle">{{ prospect.telephone }}</td>
							<td class="align-middle">{{ prospect.manager }}</td>
							<td class="align-middle">{{ prospect.prospectStatus ? prospect.prospectStatus.label : 'Non défini' }}</td>
							<td class="align-middle">{{ prospect.datecreated|date('d/m/Y') }}</td>
							<td class="align-middle">
								<a href="{{ path('prospect_show', {'id': prospect.id}) }}">
									<i class="far fa-eye"></i>
									Voir</a><br>
								<a href="{{ path('prospect_edit', {'id': prospect.id}) }}">
									<i class="far fa-edit"></i>
									Editer</a>
							</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
			{% if prospects is not null %}
				{{ knp_pagination_render(prospects) }}
			{% endif %}
		</div>
	</div>
{% endblock %}

{% block javascripts %}
	{{ parent() }}

	<script>
		function prospectsIndex() {
var activitySelect = document.getElementById('search_activity_area');
var postalCode = document.getElementById('search_postal_code');
var statusSelect = document.getElementById('search_status');
var supportSelect = document.getElementById('search_support');
var dateCreatedPicker = document.getElementById('search_date_created');
var resetFiltersButton = document.getElementById('reset-form');

/**
            @desc Custom default option for activities select
            */
function allActivitiesSelectLabel() {
if (! activitySelect) {
return;
}

var defaultOption = activitySelect.querySelector('option[value=""]');

if (! defaultOption) {
return;
}

defaultOption.innerText = 'Tous les secteurs d\'activité';
}

/**
            @desc Custom default option for activities select
            */
function allStatusesSelectLabel() {
if (! statusSelect) {
return;
}

var defaultOption = statusSelect.querySelector('option[value=""]');

if (! defaultOption) {
return;
}

defaultOption.innerText = 'Tous les statuts';
}

/**
            @desc Custom default option for activities select
            */
function allSupportsSelectLabel() {
if (! supportSelect) {
return;
}

var defaultOption = supportSelect.querySelector('option[value=""]');

if (! defaultOption) {
return;
}

defaultOption.innerText = 'Tous les supports';
}

/**
            @desc Reset all filters
            */
function resetFilters(e) {
e.preventDefault();
activitySelect.value = '';
postalCode.value = '';
statusSelect.value = '';
supportSelect.value = '';
dateCreatedPicker.value = '';
}

allActivitiesSelectLabel();
allStatusesSelectLabel();
allSupportsSelectLabel();

if (! resetFiltersButton) {
return;
}
resetFiltersButton.addEventListener('click', resetFilters);
}

prospectsIndex();
	</script>
{% endblock %}
