{% extends 'base.html.twig' %}

{% block title %}Prospect
{% endblock %}

{% block body %}
	<h1>{{ prospect.name }}</h1>

	<div class="row">
		<div class="col-7">
			<p class="prospect-infos">
				N° Siret :
				{{ prospect.siret }}<br>
				<strong>{{ prospect.activityArea.label }}</strong><br>
				Responsable : 
				{{ prospect.user.name }}<br>
				Contact :
				{{ prospect.manager }}<br>
				Adresse :
				{{ prospect.address }}<br>
				N° de téléphone :
				{{ prospect.telephone }}<br>
				N° de mobile :
				{{ prospect.mobile }}<br>
				Adresse email :
				<a href="mailto:{{ prospect.email }}">{{ prospect.email }}</a><br>
				Commentaires :
				{{ prospect.comment }}<br>
				Statut : 
				{{ prospect.prospectStatus.label }}
			</p>
		</div>
		<div class="col-5">
			<a class="d-inline-block btn btn-primary" href="{{ path('prospect_index') }}"><i class="fas fa-arrow-left"></i> Retour à la liste</a>
			<a class="d-inline-block btn btn-primary" href="{{ path('prospect_edit', {'id': prospect.id}) }}"><i class="far fa-edit"></i> Editer</a>
      		{{ include('prospect/_delete_form.html.twig') }}
		</div>
	</div>

	{% if publicities is not null %}
		<ul class="list-group prospect-publicities">
			{% for publicity in publicities %}
				<li class="list-group-item prospect-publicities-item">
					<div class="row">
						<div class="col-8 d-inline block my-auto">
							Réalisé le
							{{ publicity.createdat|date('d/m/Y') }}
						</div>
						<div class="col-4 text-right">
							<a href="{{ asset(publicity.filename) }}" class="btn btn-primary" target="_blank" rel="noopener noreferrer">
								Voir la réalisation
							</a>
						</div>
					</div>
				</li>
			{% endfor %}
		</ul>
	{% endif %}
{% endblock %}
