{% extends 'base.html.twig' %}

{% block title %}
	Fiche client -
	{{ prospect.name }}
{% endblock %}

{% block body %}
	<h1>Fiche client</h1>
	<a href="{{ path('prospect_index') }}" class="btn btn-primary">Retour à la liste</a>
	<div class="prospect-top">
		<div class="prospect-top-left">
			<div class="prospect-top-left-society">
				Nom de la société :<br>
				{{ prospect.name }}<br>
				Siret :<br>
				{{ prospect.siret }}<br>
				Nom du responsable :<br>
				{{ prospect.manager }}
			</div>
			<div class="prospect-top-left-address">
				Adresse :<br>
				{{ prospect.address }}
			</div>
		</div>
		<div class="prospect-top-right">
			Date de création :<br>
			{{ prospect.datecreated|date('d/m/Y') }}<br>
			Tél :<br>
			{{ prospect.telephone }}<br>
			Mail :<br>
			{{ prospect.email ? prospect.email : 'Non défini' }}
		</div>
	</div>
	<div class="prospect-commands">
		<table class="table table-bordered table-hover">
			<thead>
				<tr>
					<th scope="col">Format</th>
					<th scope="col">Nom du magazine</th>
					<th scope="col">Numéro</th>
					<th scope="col">Date du contrat</th>
				</tr>
			</thead>
			<tbody>
				{% for command in commands %}
					<tr>
						<td class="align-middle">{{ command.insertsize }}</td>
						<td class="align-middle">{{ command.idsupport.label }}</td>
						<td class="align-middle">{{ command.reference }}</td>
						<td class="align-middle">{{ command.datesigned|date('d/m/Y') }}</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
	<div class="prospect-comments">
		Commentaires :<br>
		{{ prospect.comment }}
	</div>
{% endblock %}
