{% extends 'base.html.twig' %}

{% block title %}Liste des prospects
{% endblock %}

{% block body %}
	<h1>{{ prospect.name }}</h1>

	<div class="row">
		<div class="col-7">
			<div class="prospect-infos d-flex flex-column">
				<p>
					N° Siret :
					{{ prospect.siret }}
				</p>
				{% if prospect.activityArea is not null %}
					<p>
						Secteur d'activité:
						{{ prospect.activityArea.label }}
					</p>
				{% endif %}
				{% if prospect.user is not null %}
					<p>
						Responsable :
						{{ prospect.user.name }}
					</p>
				{% endif %}
				<p>
					Contact :
					{{ prospect.manager }}
				</p>
				<p>
					Adresse :
					{{ prospect.address }}
				</p>
				<p>
					N° de téléphone :
					{{ prospect.telephone }}
				</p>
				<p>
					N° de mobile :
					{{ prospect.mobile ? prospect.mobile : 'Non renseigné' }}
				</p>
				<p>
					Adresse email :
					{% if prospect.email is not null %}
						<a href="mailto:{{ prospect.email }}">{{ prospect.email }}</a>
					{% else %}
						Non renseigné
					{% endif %}
				</p>
				<p>
					Commentaires :
					{{ prospect.comment }}
				</p>
				{% if prospect.prospectStatus is not null %}
					<p>
						Statut :
						{{ prospect.prospectStatus.label }}
					</p>
				{% endif %}
			</div>
		</div>
		<div class="col-5">
			<a class="d-inline-block btn btn-primary" href="{{ path('prospect_index') }}">
				<i class="fas fa-arrow-left"></i>
				Retour à la liste</a>
			<a class="d-inline-block btn btn-primary" href="{{ path('prospect_edit', {'id': prospect.id}) }}">
				<i class="far fa-edit"></i>
				Editer</a>
			{{ include('prospect/_delete_form.html.twig') }}
		</div>
	</div>

	{% if publicities is not null %}
		<ul class="list-group prospect-publicities">
			{% for publicity in publicities %}
				<li class="list-group-item prospect-publicities-item">
					<div class="row">
						<div class="col-8 d-inline block my-auto">
							Réalisé le
							{{ publicity.createdat|date('d/m/Y') }}
						</div>
						<div class="col-4 text-right">
							<a href="{{ asset(publicity.filename) }}" class="btn btn-primary" target="_blank" rel="noopener noreferrer">
								Voir la réalisation
							</a>
						</div>
					</div>
				</li>
			{% endfor %}
		</ul>
	{% endif %}
{% endblock %}
