{% extends 'base.html.twig' %}

{% block title %}Statuts de prospects
{% endblock %}

{% block body %}
	<h1>Statuts de prospects</h1>
	<a href="{{ path('prospect_status_new') }}" class="btn btn-primary">Ajouter un statut</a>
	<div class="row">
		<div class="col-12">
			<ul class="list-group">
				{% for status in prospect_statuses %}
					<li class="list-group-item prospects-item">
						<div class="row prospects-item-row">
							<div class="col-7">
								<strong>{{ status.label }}</strong>
							</div>
							<div class="col-5">
								<ul class="list-unstyled d-flex flex-row">
									<li class="prospects-item-link">
										<a href="{{ path('prospect_status_show', {id:status.id}) }}">
											<i class="far fa-eye"></i>
											Voir</a>
									</li>
									<li class="prospects-item-link">
										<a href="{{ path('prospect_status_edit', {id:status.id}) }}">
											<i class="far fa-edit"></i>
											Editer</a>
									</li>
									<li class="prospects-item-link">
										<a href="{{ path('prospect_status_delete', {id:status.id}) }}">
											<i class="far fa-trash-alt"></i>
											Supprimer</a>
									</li>
								</ul>
							</div>
						</div>
					</li>
				{% else %}
					<p>
						Aucun statut de prospect n'a été trouvé.
					</p>
				{% endfor %}
			</ul>
			{{ knp_pagination_render(prospect_statuses) }}
		</div>
	</div>
{% endblock %}
