{% extends 'base.html.twig' %}

{% block title %}ProspectStatus index{% endblock %}

{% block body %}
    <h1>ProspectStatus index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Label</th>
                <th>Isactive</th>
                <th>Iseditable</th>
                <th>Createdat</th>
                <th>Updatedat</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for prospect_status in prospect_statuses %}
            <tr>
                <td>{{ prospect_status.id }}</td>
                <td>{{ prospect_status.label }}</td>
                <td>{{ prospect_status.isactive ? 'Yes' : 'No' }}</td>
                <td>{{ prospect_status.iseditable ? 'Yes' : 'No' }}</td>
                <td>{{ prospect_status.createdat ? prospect_status.createdat|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ prospect_status.updatedat ? prospect_status.updatedat|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('prospect_status_show', {'id': prospect_status.id}) }}">show</a>
                    <a href="{{ path('prospect_status_edit', {'id': prospect_status.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('prospect_status_new') }}">Create new</a>
{% endblock %}
