{% extends 'base.html.twig' %}

{% block title %}User index
{% endblock %}

{% block body %}
	<h1>User index</h1>
	<a href="{{ path('user_new') }}" class="btn btn-primary my-2">Ajouter</a>

	<div class="row">
		<div class="col-12">
			<ul class="list-group">
				{% for user in users %}
					<li class="list-group-item prospects-item">
						<div class="row prospects-item-row">
							<div class="col-3">
								<strong>{{ user.name }}</strong>
							</div>
							<div class="col-2">
								<p>{{ user.profil }}</p>
							</div>
							<div class="col-3">
								<p>
									{% for role in user.roles %}
										{% if role == "ROLE_USER" %}
											Utilisateur
										{% elseif role == "ROLE_SUPERADMIN" %}
											Super Administrateur
										{% elseif role == "ROLE_ADMIN" %}
											Administrateur
										{% endif %}
									{% endfor %}
								</p>
							</div>
							<div class="col-4">
								<ul class="list-unstyled d-flex flex-row">
									<li class="prospects-item-link">
										<a href="{{ path('user_show', {id:user.id}) }}">
											<i class="far fa-eye"></i>
											Voir</a>
									</li>
									<li class="prospects-item-link">
										<a href="{{ path('user_edit', {id:user.id}) }}">
											<i class="far fa-edit"></i>
											Editer</a>
									</li>
								</ul>
							</div>
						</div>
					</li>
				{% else %}
					<p>
						Aucun utilisateur n'a été trouvé.
					</p>
				{% endfor %}
			</ul>
		</div>
	</div>
{% endblock %}
