{% extends 'base.html.twig' %}

{% block title %}Liste des utilisateurs
{% endblock %}

{% block body %}
	<h1>Liste des utilisateurs</h1>
	<a href="{{ path('user_new') }}" class="btn btn-primary my-2">Ajouter</a>
	<table class="table table-bordered table-hover">
		<thead>
			<tr>
				<th scope="col">Nom</th>
				<th scope="col">Profil</th>
				<th scope="col">Roles</th>
				<th scope="col">Actions</th>
			</tr>
		</thead>
		<tbody>
			{% for user in users %}
				<tr>
					<td class="align-middle">{{ user.name }}</td>
					<td class="align-middle">{{ user.profil }}</td>
					<td class="align-middle">
						{% for role in user.roles %}
							{% if role == "ROLE_USER" %}
								Utilisateur
							{% elseif role == "ROLE_SUPERADMIN" %}
								Super Administrateur
							{% elseif role == "ROLE_ADMIN" %}
								Administrateur
							{% endif %}
						{% endfor %}
					</td>
					<td class="align-middle">
						<a href="{{ path('user_show', {'id': user.id}) }}">
							<i class="far fa-eye"></i>
							Voir</a><br>
						<a href="{{ path('user_edit', {'id': user.id}) }}">
							<i class="far fa-edit"></i>
							Editer</a>
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% endblock %}
